<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Conexion"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Model\GestionInventarioDB.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<add name="GestionInventarioFoodStruck.Properties.Settings.GestionInventarioDBConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Model\GestionInventarioDB.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>